<template>
  <div>
    {{ this.fetchData }}
    <div v-for="product in products">
      <div class="columns">
        <div class="column">
          <figure class="image is-128x128">
            <img :src='"/images/"+product.image'>
          </figure>
        </div>
        <div class="column">
          {{ product.description }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        products: ''
      }
    },
    computed: {
      fetchData: function () {
        this.$http.get('/api/products_from_category/'+this.$route.params.id).then(response => {
          this.products = response.body;
        }, response => {
        });
      }
    }
  }
</script>
