<style>
  body {
    font-family: Menlo, Consolas, monospace;
    color: #444;
  }
  .item {
    cursor: pointer;
  }
  .bold {
    font-weight: bold;
  }
  ul {
    padding-left: 1em;
    line-height: 1.5em;
    list-style-type: dot;
  }
</style>
<template>
  <div>
    <ul id="demo" v-show="!this.$v.jsonData.$anyError">
      <item class="item" :model="JSON.parse(this.model)"></item>
    </ul>
  </div>
</template>

<script>
  import Item from './ItemComponent.vue'
  import { required } from 'vuelidate/lib/validators'
  export default {
    data () {
      return {
        jsonData: '',
        open: false
      }
    },
    components: {item: Item},
    props: {
      model: {
        require: true
      }
    },
    validations: {
      jsonData: {
        $each: {
          id: {
            required
          },
          name: {
            required
          }
        }
      }
    },
    mounted() {
      this.jsonData = this.model;
      this.$v.jsonData.$touch();
    }
  }
</script>
